# D瓜哥 · https://www.diguage.com
services:
  # mysql -h127.0.0.1 -P3356 -uroot -p123456
  # mysql -h127.0.0.1 -P3356 -uadmin_storage -p123456
  # mysql -h172.6.3.2 -P3306 -uadmin_storage -p123456 ❎
  mysql-storage:
    container_name: mysql-storage
    build:
      context: .
      dockerfile: images/mysql-storage.dockerfile
    image: storage/mysql:8.4
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    env_file:
      - ./env/mysql.env
    volumes:
      - ./data/mysql/storage:/bitnami/mysql/data/
    ports:
      - "3356:3306"
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mysql/healthcheck.sh']
      interval: 15s  # 每 15 秒检查一次
      timeout: 5s    # 请求超时时间为 5 秒
      retries: 6     # 如果检查失败，最多重试 6 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
#    networks:
#      transactions:
#        ipv4_address: 172.6.3.2

  # mysql -h127.0.0.1 -P3366 -uroot -p123456
  # mysql -h127.0.0.1 -P3366 -uadmin_order -p123456
  # mysql -h172.6.3.3 -P3306 -uadmin_order -p123456
  mysql-order:
    container_name: mysql-order
    build:
      context: .
      dockerfile: images/mysql-order.dockerfile
    image: order/mysql:8.4
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    env_file:
      - ./env/mysql.env
    volumes:
      - ./data/mysql/order:/bitnami/mysql/data/
    ports:
      - "3366:3306"
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mysql/healthcheck.sh']
      interval: 15s  # 每 15 秒检查一次
      timeout: 5s    # 请求超时时间为 5 秒
      retries: 6     # 如果检查失败，最多重试 6 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
#    networks:
#      transactions:
#        ipv4_address: 172.6.3.3

  # mysql -h127.0.0.1 -P3376 -uroot -p123456
  # mysql -h127.0.0.1 -P3376 -uadmin_account -p123456
  # mysql -h172.6.3.4 -P3306 -uadmin_account -p123456 ❎
  mysql-account:
    container_name: mysql-account
    build:
      context: .
      dockerfile: images/mysql-account.dockerfile
    image: account/mysql:8.4
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    env_file:
      - ./env/mysql.env
    volumes:
      - ./data/mysql/account:/bitnami/mysql/data/
    ports:
      - "3376:3306"
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mysql/healthcheck.sh']
      interval: 15s  # 每 15 秒检查一次
      timeout: 5s    # 请求超时时间为 5 秒
      retries: 6     # 如果检查失败，最多重试 6 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
#    networks:
#      transactions:
#        ipv4_address: 172.6.3.4

  # mysql -h127.0.0.1 -P3386 -uroot -p123456
  # mysql -h127.0.0.1 -P3386 -uadmin_nacos -p123456
  # mysql -h172.6.3.5 -P3306 -uadmin_nacos -p123456 ❎
  mysql-nacos:
    container_name: mysql-nacos
    build:
      context: .
      dockerfile: images/mysql-nacos.dockerfile
    image: nacos/mysql:8.4
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    env_file:
      - ./env/mysql.env
    volumes:
      - ./data/mysql/nacos:/bitnami/mysql/data/
    ports:
      - "3386:3306"
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mysql/healthcheck.sh']
      interval: 15s  # 每 15 秒检查一次
      timeout: 5s    # 请求超时时间为 5 秒
      retries: 6     # 如果检查失败，最多重试 6 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
#    networks:
#      transactions:
#        ipv4_address: 172.6.3.5

  # Nacos: http://localhost:8080/index.html nacos/nacos
  # https://nacos.io/docs/v3.0/manual/admin/monitor/ 文档里写的是这个链接，但是报错
  # http://localhost:8848/nacos/actuator/prometheus
  # http://localhost:8848/nacos/actuator/health
  nacos:
    image: nacos/nacos-server:${NACOS_VERSION:-latest}
    container_name: nacos
    hostname: nacos
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    env_file:
      - ./env/nacos.env
    volumes:
      - ./config/nacos/application.properties:/home/nacos/conf/application.properties
      - nacos_log:/home/nacos/logs
    ports:
      - "8080:8080"
      - "8848:8848"
      - "9848:9848"
    restart: always
    healthcheck:
      # 这里最好使用 actuator 健康检查链接
      test: [ "CMD", "curl", "-f", "http://localhost:8080/index.html" ]
      interval: 30s  # 每 30 秒检查一次
      timeout: 10s   # 请求超时时间为 10 秒
      retries: 5     # 如果检查失败，最多重试 5 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
    depends_on:
      mysql-nacos:
        condition: service_healthy
#    networks:
#      transactions:
#        ipv4_address: 172.6.2.2

  # mysql -h127.0.0.1 -P3396 -uroot -p123456
  # mysql -h127.0.0.1 -P3396 -uadmin_seata -p123456
  # mysql -h172.6.3.6 -P3306 -uadmin_seata -p123456 ❎
  # show processlist; / select user();
  mysql-seata:
    container_name: mysql-seata
    hostname: mysql-seata
    build:
      context: .
      dockerfile: images/mysql-seata.dockerfile
    image: seata/mysql:8.4
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    env_file:
      - ./env/mysql.env
    volumes:
      - ./data/mysql/seata:/bitnami/mysql/data/
    ports:
      - "3396:3306"
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mysql/healthcheck.sh']
      interval: 15s  # 每 15 秒检查一次
      timeout: 5s    # 请求超时时间为 5 秒
      retries: 6     # 如果检查失败，最多重试 6 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
#    networks:
#      transactions:
#        ipv4_address: 172.6.3.5

  # http://127.0.0.1:7091/
  # http://127.0.0.1:9898/-/healthy -- 健康检查
  # http://127.0.0.1:9898/metrics -- 不报错，也没数据，奇怪！
  # https://seata.apache.org/zh-cn/docs/ops/deploy-by-docker-compose/#nacos-db
  seata-server:
    image: apache/seata-server:${SEATA_VERSION:-latest}
    container_name: seata-server
    hostname: seata-server
    ports:
      - "8091:8091"
      - "7091:7091"
      - "9898:9898"
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
#      - SEATA_PORT=8091
#      - SEATA_IP=seata-server
    volumes:
      - "./config/seata/application.yml:/seata-server/resources/application.yml"
      - "./config/seata/logback-spring.xml:/seata-server/resources/logback-spring.xml"
    healthcheck:
      # 这里最好使用 actuator 健康检查链接
      test: [ "CMD", "curl", "-f", "http://localhost:9898/-/healthy" ]
      interval: 30s  # 每 30 秒检查一次
      timeout: 10s   # 请求超时时间为 10 秒
      retries: 5     # 如果检查失败，最多重试 5 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
    depends_on:
      nacos:
        condition: service_healthy
      mysql-seata:
        condition: service_healthy
      kafka-server:
        condition: service_healthy

  # https://github.com/bitnami/containers/tree/main/bitnami/kafka
  kafka-server:
    image: bitnami/kafka:${KAFKA_VERSION:-latest}
    container_name: kafka-server
    hostname: kafka-server
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-server:9093 # 这里 kafka-server 与服务名一直
      # Listeners
      - KAFKA_CLUSTER_ID=kafka-cluster
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_OFFSETS_TOPIC_NUM_PARTITIONS=2
      - KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR=1  # 单节点集群设为1，生产环境建议≥2
      - KAFKA_CFG_DEFAULT_REPLICATION_FACTOR=1
      - KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_CFG_LOG_RETENTION_BYTES=104857600 # 100MB -- 日志总量
      - KAFKA_CFG_log_segment_bytes=10485760    # 10MB -- 单个日志段
      - KAFKA_INTER_BROKER_USER=kafka
      - KAFKA_INTER_BROKER_PASSWORD=123456
      - KAFKA_CONTROLLER_USER=kafka
      - KAFKA_CONTROLLER_PASSWORD=123456
      - KAFKA_CLIENT_USERS=kafka
      - KAFKA_CLIENT_PASSWORDS=123456
    volumes:
      - ./data/kafka:/bitnami/kafka
    healthcheck:
      # 这里最好使用 actuator 健康检查链接
      # https://stackoverflow.com/a/78342248/951836
      test: [ "CMD", "kafka-cluster.sh", "cluster-id", "--bootstrap-server", "kafka-server:9092" ]
      interval: 30s  # 每 30 秒检查一次
      timeout: 10s   # 请求超时时间为 10 秒
      retries: 5     # 如果检查失败，最多重试 5 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
#
#  nettools:
#    image: jonlabelle/network-tools:${NETWORK_TOOLS_VERSION:-latest}
#    container_name: nettools
#    hostname: network-tools
#    environment:
#      - TZ=Asia/Shanghai  # 设置时区为上海时间
#    command:
#      - sleep
#      - "3600000"

volumes:
  nacos_log:
#
### docker network create --driver bridge --subnet=172.6.0.0/16 transactions
### docker network create --driver macvlan --subnet=172.6.0.0/16 --gateway=172.6.1.1 -o parent=en0 transactions
##networks:
##  transactions:
##    driver: macvlan
##    driver_opts:
##      parent: en0
##    ipam:
##      driver: default
##      config:
##        - subnet: 172.6.0.0/16
##          gateway: "172.6.1.1"
