# D瓜哥 · https://www.diguage.com
# D瓜哥 · https://www.diguage.com
services:
  # mysql -h127.0.0.1 -P3396 -uroot -p123456
  # mysql -h127.0.0.1 -P3396 -uadmin_seata -p123456
  # mysql -h172.6.3.6 -P3306 -uadmin_seata -p123456 ❎
  # show processlist; / select user();
  mysql-seata:
    container_name: mysql-seata
    hostname: mysql-seata
    build:
      context: .
      dockerfile: images/mysql-seata.dockerfile
    image: seata/mysql:8.4
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    env_file:
      - ./env/mysql.env
    volumes:
      - ./data/mysql/seata:/bitnami/mysql/data/
    ports:
      - "3396:3306"
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 700M
        reservations:
          cpus: '0.05'
          memory: 600M
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mysql/healthcheck.sh']
      interval: 15s  # 每 15 秒检查一次
      timeout: 5s    # 请求超时时间为 5 秒
      retries: 10    # 如果检查失败，最多重试 10 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
  #    networks:
  #      transactions:
  #        ipv4_address: 172.6.3.5

  # http://127.0.0.1:8081/   seata/seata
  # http://127.0.0.1:8081/naming/v1/health -- 健康检查
  # http://127.0.0.1:9897/naming/metrics -- TODO 还没整好！
  # https://seata.apache.org/zh-cn/docs/ops/deploy-by-docker-compose/#nacos-db
  seata-naming-server:
    image: apache/seata-naming-server:${SEATA_VERSION:-latest}
    container_name: seata-naming-server
    hostname: seata-naming-server
    ports:
      - "8081:8081"
      - "9897:9898"
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    volumes:
      - "./config/seata/logback-naming.xml:/seata-naming-server/resources/logback-spring.xml"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 500M
        reservations:
          cpus: '0.10'
          memory: 400M
    healthcheck:
      # 这里最好使用 actuator 健康检查链接
      test: [ "CMD", "curl", "-f", "http://localhost:8081/naming/v1/health" ]
      interval: 15s  # 每 15 秒检查一次
      timeout: 10s   # 请求超时时间为 10 秒
      retries: 10    # 如果检查失败，最多重试 10 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
    depends_on:
      mysql-seata:
        condition: service_healthy

  # http://127.0.0.1:7091/   seata/seata
  # http://127.0.0.1:9898/-/healthy -- 健康检查
  # http://127.0.0.1:9898/metrics -- 不报错，也没数据，奇怪！
  # https://seata.apache.org/zh-cn/docs/ops/deploy-by-docker-compose/#nacos-db
  seata-server:
    image: apache/seata-server:${SEATA_VERSION:-latest}
    container_name: seata-server
    hostname: seata-server
    ports:
      - "8091:8091"
      - "7091:7091"
      - "9898:9898"
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
    #      - SEATA_PORT=8091
    #      - SEATA_IP=seata-server
    volumes:
      - "./config/seata/application.yml:/seata-server/resources/application.yml"
      - "./config/seata/logback:/seata-server/resources/logback"
      - "./config/seata/logback-spring.xml:/seata-server/resources/logback-spring.xml"
      - "./config/seata/mysql-connector-j-8.4.0.jar:/seata-server/libs/mysql-connector-j-8.4.0.jar"
      - "./config/seata/mysql-connector-j-8.4.0.jar:/seata-server/libs/jdbc/mysql-connector-j-8.4.0.jar"
    deploy:
      resources:
        limits:
          cpus: '0.80'
          memory: 700M
        reservations:
          cpus: '0.10'
          memory: 600M
    healthcheck:
      # 这里最好使用 actuator 健康检查链接
      test: [ "CMD", "curl", "-f", "http://localhost:9898/-/healthy" ]
      interval: 15s  # 每 15 秒检查一次
      timeout: 10s   # 请求超时时间为 10 秒
      retries: 10    # 如果检查失败，最多重试 10 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
    depends_on:
      nacos:
        condition: service_healthy
      seata-naming-server:
        condition: service_healthy
      kafka-server:
        condition: service_healthy

  # https://github.com/bitnami/containers/tree/main/bitnami/kafka
  kafka-server:
    image: bitnami/kafka:${KAFKA_VERSION:-latest}
    container_name: kafka-server
    hostname: kafka-server
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      - TZ=Asia/Shanghai  # 设置时区为上海时间
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-server:9093 # 这里 kafka-server 与服务名一直
      # Listeners
      - KAFKA_CLUSTER_ID=kafka-cluster
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_OFFSETS_TOPIC_NUM_PARTITIONS=2
      - KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR=1  # 单节点集群设为1，生产环境建议≥2
      - KAFKA_CFG_DEFAULT_REPLICATION_FACTOR=1
      - KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_CFG_LOG_RETENTION_BYTES=104857600 # 100MB -- 日志总量
      - KAFKA_CFG_log_segment_bytes=10485760    # 10MB -- 单个日志段
      - KAFKA_INTER_BROKER_USER=kafka
      - KAFKA_INTER_BROKER_PASSWORD=123456
      - KAFKA_CONTROLLER_USER=kafka
      - KAFKA_CONTROLLER_PASSWORD=123456
      - KAFKA_CLIENT_USERS=kafka
      - KAFKA_CLIENT_PASSWORDS=123456
    volumes:
      - ./data/kafka:/bitnami/kafka
    deploy:
      resources:
        limits:
          cpus: '0.80'
          memory: 600M
        reservations:
          cpus: '0.05'
          memory: 500M
    healthcheck:
      # 这里最好使用 actuator 健康检查链接
      # https://stackoverflow.com/a/78342248/951836
      test: [ "CMD", "kafka-cluster.sh", "cluster-id", "--bootstrap-server", "kafka-server:9092" ]
      interval: 15s  # 每 30 秒检查一次
      timeout: 10s   # 请求超时时间为 10 秒
      retries: 10    # 如果检查失败，最多重试 10 次
      start_period: 60s  # 等待 60 秒后再开始进行 healthcheck
